body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#menu-header {
    text-align: center;
    margin-bottom: 30px;
}

#calorie-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

input[type="number"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

#calorie-input {
    width: 70%;
    padding: 12px;
    margin: 15px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

#calorie-input:focus {
    border-color: #4CAF50;
    outline: none;
}

#generate-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
}

#generate-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#nutrition-facts {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#menu-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    gap: 20px;
}

.food-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 220px;
    transition: transform 0.3s;
}

.food-item:hover {
    transform: scale(1.05);
}

.traits-list {
    margin: 10px 0;
}

.calories-info {
    font-weight: bold;
    color: #4CAF50;
}

.contains-list {
    list-style-type: none;
    padding-left: 0;
}

.fade {
    animation: fade-out 0.5s forwards;
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dining-hall-select {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #343a40;
    transition: all 0.3s ease;
    width: 200px;
}

.dining-hall-select:hover {
    border-color: #0056b3;
    transform: scale(1.1);
}

.dining-hall-select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
